.Title {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: table;
  margin: 0 auto;
}

.Title h1 {
    font-size: 2rem;
    margin: 0;
    padding-top: 10vh;
}

@media (min-width: 450px) {
  .Title h1 {
    font-size: 3rem;
  }
}

@media (min-width: 850px) {
  .Title h1 {
    font-size: 4rem;
  }
}