.Contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.Contact-me-image img{
  width: 100%;
  border-radius: 50%;
}

.Contact-me-email, .Contact-me-phone {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.Contact-me-name, .Contact-me-email, .Contact-me-phone {
  margin: 0 0 10px 0;
}

.Contact-me-social img {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}