.Title-home h1 {
    /* font-size: 6rem; */
    padding-top: 30vh;
}

.Home-title-wrap {
  display: table;
  margin: 0 auto 10vh auto;
}


/* .NavigationPage-home {
  font-size: 3rem;
} */